body {
  color: #666;
}
.layout-width {
  width: 1000px;
  margin: 0 auto;
}
.font-family {
  font-family: "微软雅黑";
}
.title {
  font-family: "微软雅黑";
  font-size: 20px;
  font-weight: bold;
}
.no-info {
  padding: 20px;
  font-size: 14px;
  color: #999;
}
/*头部*/
header {
  font-family: "微软雅黑";
  background: #303030;
  line-height: 50px;
  color: #f08519;
}
header a:link,
header a:visited {
  color: #f08519;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}
.head-box {
  width: 1000px;
  margin: 0 auto;
}
.head-menu {
  margin-left: 80px;
}
.head-menu a {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  transition: all .5s;
}
.head-menu a:hover {
  background-color: #000 ;
  text-decoration: none;
}
.head-menu a.active {
  background-color: #eee ;
  text-decoration: none;
  color: #666;
}
.head-user {
  font-size: 14px;
}
.head-user a {
  padding-left: 10px;
  padding-right: 10px;
}
/* 底部*/
.copyright {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px dashed #ddd;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #999;
}
.alert {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 99999;
}
.loading {
  position: absolute;
  z-index: 99999;
  width: 200px;
  text-align: center;
}
.loading .icon {
  width: 30px;
  height: 45px;
  margin: 0 auto;
  animation: rotate 1s linear infinite;
  -webkit-animation: rotate 1s linear infinite;
}
.loading .icon i {
  color: #666;
  display: block;
  font-size: 30px;
}
.loading .text {
  color: #666;
  font-size: 16px;
  padding: 3px;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 88888;
  background: #fff;
  opacity: 0.5;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.top {
  background: #eee;
  min-height: 350px;
}
.details-box {
  width: 1000px;
  margin: 0 auto;
}
.book-img {
  margin: 50px 50px 50px 0;
  background-color: #fff;
}
.book-img img {
  width: 180px;
  margin: 10px;
}
.book-details {
  margin-top: 50px;
}
.book-details .book-introduction {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.book-details .book-introduction li {
  padding-bottom: 5px;
}
.details-main {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.details-main .details-main-cont {
  line-height: 24px;
  text-indent: 2em;
  font-size: 14px;
}
.details-main h2 {
  margin-bottom: 20px;
}
.book-cont {
  margin-bottom: 50px;
}
.share-history .book-history-list {
  height: 200px;
  overflow-y: auto;
}
.share-history .share-time {
  font-size: 12px;
  margin-top: 3px;
}
.book-history {
  margin-top: 50px;
  background-color: #f5f5f5;
  padding: 20px;
}
.book-history h3 {
  font-size: 18px;
  font-family: "微软雅黑";
}
.book-history .book-history-list {
  width: 320px;
  margin: 15px 0 0 0 ;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #999;
}
.book-history .book-history-list li {
  padding-bottom: 10px;
}
.book-history .book-history-list li span {
  padding-right: 10px;
  color: #666;
}
.book-prompt {
  font-size: 14px;
  margin-top: 15px;
}
.item-top h2 {
  font-family: "微软雅黑";
  font-size: 20px;
}
.item-top img {
  margin-bottom: 15px;
}
.item-top h6 {
  color: #999;
  line-height: 24px;
  font-size: 14px;
}
